@{ 
    Layout = null;
}
@model Datvexemfilm.Models.TMP
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking | Zeron</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel = "stylesheet" href = "@Url.Content("~/Content/assets/css/style.css")">
    <link rel = "stylesheet" href = "@Url.Content("~/Content/assets/css/bookingTicket.css")">
</head>
<body>
    <!-- Booking Ticket -->
    <div class="MainContainer">
        <div class="MainContainer__seat">
            <h1 class="title">Booking Seat</h1>
            <div class="MainContainer__seat__list">
                <h1>\____________SCREEN____________/</h1>
                <div id="seats-container" class="seats-container">
                    <!-- Sơ đồ ghế sẽ hiển thị ở đây -->
                </div>
            </div>
            <div class="home-btn-container">
                <a href="@Url.Action("Home","Home")" class="btn-home">
                    <i class="fa fa-home"></i> Trang chủ
                </a>
            </div>
        </div>
        <div class="MainContainer__DetailBooking">
            <div class="MainContainer__DetailBooking-img">
                <img src="@Url.Content(Model.FilmSrc)" alt="poster" class="MainContainer__DetailBooking-img-item">
            </div>
            <h2 class="MainContainer__DetailBooking-name">@Model.FilmName</h2>
            <div class="MainContainer__DetailBooking-cinema">
                <i class="fas fa-building icon-cinema"></i>
                <span class="movie-detail-label">Rạp chiếu:</span>
                <span class="movie-detail-value cinema-name">@Model.Name</span>
            </div>
            <div class="MainContainer__DetailBooking-date">
                <i class="fas fa-calendar-alt icon-date"></i>
                <span class="movie-detail-label">Ngày chiếu:</span>
                <span class="movie-detail-value show-date">@Model.Day</span>
            </div>
            <div class="MainContainer__DetailBooking-time">
                <i class="fas fa-clock icon-time"></i>
                <span class="movie-detail-label">Giờ chiếu:</span>
                <span class="movie-detail-value show-time">@Model.Start</span>
            </div>
            <div class="MainContainer__DetailBooking-seatlist">
                <i class="fas fa-chair icon-seat"></i>
                <span class="movie-detail-label">Ghế:</span>
                <div class="movie-detail-value seat-list">
                   
                </div>
            </div>
            <div class="MainContainer__DetailBooking-ticketNumber">
                <i class="fas fa-ticket-alt icon-ticket"></i>
                <span class="movie-detail-label">Số vé:</span>
                <span class="movie-detail-value number-ticket">0</span>
            </div>
            <div class="MainContainer__DetailBooking-totalPrice">
                <i class="fas fa-money-bill-wave icon-money"></i>
                <span class="movie-detail-label">Tổng tiền:</span>
                <span class="movie-detail-value price total-price">0 VNĐ</span>
            </div>
            <div class="MainContainer__DetailBooking-Note">
                <div class="legend-item">
                    <div class="legend-color booked"></div>
                    <span>Đã đặt</span>
                </div>
                <div class="legend-item">
                    <div class="legend-color selected"></div>
                    <span>Đã chọn</span>
                </div>
                <div class="legend-item">
                    <div class="legend-color available"></div>
                    <span>Còn trống</span>
                </div>
            </div>
            <div class="MainContainer__DetailBooking-btn">
                <button class="MainContainer__DetailBooking-btn-submit">
                    <i class="fas fa-check "></i> Xác nhận
                </button>
                <button class="MainContainer__DetailBooking-btn-reset" onclick="loadSeats(@Model.Row,@Model.Col'@Model.Booked')">
                    <i class="fas fa-redo"></i> Đặt lại
                </button>
                @*<button class="MainContainer__DetailBooking-btn-change">
                    <i class="fas fa-exchange-alt"></i> Đổi suất
                </button>*@
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/js/seatLayout.js")" defer></script>
    <script>
        const Price =@Model.Price_Show;
        const show_id =@Model.Show_ID;
    document.addEventListener('DOMContentLoaded', function () {
        loadSeats(@Model.Row, @Model.Col, "@Model.Booked");
    });
    </script>
    <script src="@Url.Content("~/Scripts/js/bookingTicket.js")" defer></script>
    <script src="@Url.Content("~/Scripts/js/auth.js")" defer></script>

    <script src="@Url.Content("~/Scripts/js/dataManager.js")" defer></script>
</body>
</html>