@{
    Layout = null;
}
@model Datvexemfilm.Models.Film
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeron | Detail Movie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/loginstyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/signinstyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/detailmoviestyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/animation.css")">
</head>
<body>
    <div class="container">
        <!--NAVBAR -->
        <nav class="navbar">
            <div class="navbar__logo">
                <img src="@Url.Content("~/Content/assets/images/logo.png")" alt="logo" class="navbar__logo-item">
                <span class="navbar__logo-name">Zeron</span>
            </div>
            <ul class="navbar__content">
                <li><a href="@Url.Action("Home","Home")" class="navbar__content-item1">TRANG CHỦ</a></li>
                <li><a href="#" class="navbar__content-item1">ĐẶT VÉ</a></li>
                <button class="navbar__content-btn" onclick="goToPageLogin()">ĐĂNG NHẬP</button>
            </ul>
        </nav>
        <!--END NAVBAR -->

        <div class="detailmovie">
            <div class="maincontainer">
                <div>
                    <img src="@Url.Content(Model.src)" alt="poster" class="maincontainer__poster">
                </div>
                <ul class="maincontainer__movieInf">
                    <li><h2 class="maincontainer__movieInf-title">@Model.name</h2></li>
                    <li>
                        <div class="maincontainer__movieInf__block1">
                            <ul class="maincontainer__movieInf__block1-title">
                                <p class="movie-info-row row-director"><i class="fas fa-user-tie"></i> Đạo diễn:</p>
                                <p class="movie-info-row row-genre"><i class="fas fa-film"></i> Thể loại:</p>
                                <p class="movie-info-row row-release"><i class="fas fa-calendar-alt"></i> Khởi chiếu:</p>
                                <p class="movie-info-row row-duration"><i class="fas fa-clock"></i> Thời Lượng:</p>
                                <p class="movie-info-row row-language"><i class="fas fa-language"></i> Ngôn ngữ:</p>
                            </ul>
                            <ul class="maincontainer__movieInf__block1__Inf">
                                <p class="movie-info-row row-director"><span class="maincontainer__movieInf__block1__Inf-director">@Model.Director</span></p>
                                <p class="movie-info-row row-genre"><span class="maincontainer__movieInf__block1__Inf-genre">@Model.Film_Type.Name</span></p>
                                <p class="movie-info-row row-release"><span class="maincontainer__movieInf__block1__Inf-releaseDay">@Model.releaseDay</span></p>
                                <p class="movie-info-row row-duration"><span class="maincontainer__movieInf__block1__Inf-durationMins">@Model.Duration phút</span></p>
                                <p class="movie-info-row row-language"><span class="maincontainer__movieInf__block1__Inf-language">Phụ đề @Model.Language</span></p>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="maincontainer__bookingbtn">
                    <button class="booking-btn" onclick="showTab()">Đặt Vé</button>
                </div>
            </div>

            <div class="buttoncontainer">
                <button class="buttoncontainer__description active" onclick="toggleContent('description')">CHI TIẾT</button>
                <button class="buttoncontainer__trailer" onclick="toggleContent('trailer')">TRAILER</button>
            </div>

            <!-- nội dung khi bấm vào các button-->
            <div class="description"><p>@Model.FullDescription.</p></div>

            <div class="trailer hidden">
                <iframe class="trailer__video" width="530" height="315" src="@Model.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <footer>
        <div class="container__footer">
            <h3>Ký ức đẹp bắt đầu từ một bộ phim hay!</h3>
        </div>
        <div class="footercontent">
            <div class="navbar__logo navbar__logo2">
                <img src="@Url.Content("~/Content/assets/images/logo.png")" alt="logo" class="navbar__logo-item">
                <span class="navbar__logo-name">Zeron</span>
            </div>
            <ul class="footercontent__ContactInf">
                <li><p class="footercontent__header">Hỗ Trợ</p></li>
                <li>
                    <div class="footercontent__ContactInf-list">
                        <i class="fa-solid fa-phone"></i>
                        <p>0948 203 816</p>
                    </div>
                </li>
                <li>
                    <div class="footercontent__ContactInf-list">
                        <i class="fa-solid fa-envelope"></i>
                        <p>zeron_cinema@gmail.com</p>
                    </div>
                </li>
                <li>
                    <div class="footercontent__ContactInf-list">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Số 16 Nguyễn Lương Bằng, Hòa Khánh Bắc, Đà Nẵng</p>
                    </div>
                </li>
            </ul>
            <ul class="footercontent__QuickLink">
                <li><p class="footercontent__header">Liên Kết Nhanh</p></li>
                <li><a class="footercontent__QuickLink-list" href="##">Trang Chủ</a></li>
                <li><a class="footercontent__QuickLink-list" href="##">Đặt Vé</a></li>
                <li><a class="footercontent__QuickLink-list" href="##">Thể Loại</a></li>
            </ul>
            <ul class="footercontent__SocialMedia">
                <p class="footercontent__header">Mạng Xã Hội</p></li>
                <div class="footercontent__SocialMedia-list">
                    <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a>
                    <a href="https://zalo.me" target="_blank"><i class="fa-solid fa-comment-dots fa-2x"></i></a>
                </div>
            </ul>
            <div><p class="line"></p></div>
        </div>
    </footer>
    <!-- Modal đặt vé -->
    <div class="booking-modal hidden">
        <div class="booking-modal__content">
            <button class="booking-modal__close" onclick="closeBookingModal()">×</button>
            <div class="booking-modal__header">
                <h2>Đặt Vé Xem Phim</h2>
            </div>
            <div class="booking-modal__body">
                <div class="booking-modal__container">
                    <!-- Thông tin phim -->
                    <div class="movie-info">
                        <div class="movie-info__poster">
                            <img src="@Url.Content(Model.src)" alt="poster">
                        </div>
                        <div class="movie-info__details">
                            <h3 class="movie-info__title">@Model.name</h3>
                            <div class="movie-info__meta">
                                <span><i class="fas fa-film"></i> @Model.Film_Type.Name</span>
                                <span><i class="fas fa-clock"></i> @Model.Duration phút</span>
                                <span><i class="fas fa-language"></i> Phụ đề:@Model.Language</span>
                            </div>
                        </div>
                    </div>

                    <!-- Phần bên phải -->
                    <div class="booking-info">
                        <!-- Chọn ngày -->
                        <div class="booking-modal__date">
                            <h3>Chọn ngày chiếu</h3>
                            <div id="date-list" class="date-list">
                                
                            </div>
                        </div>

                        <!-- Chọn suất chiếu -->
                        <div class="booking-modal__showtime">
                            <h3>Chọn suất chiếu</h3>
                            <div class="showtime-list">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="movie-detail" data-id="@Model.ID_Movie"></div>
    <script src="@Url.Content("~/Scripts/js/detailmovie.js")" defer></script>
    <script src="@Url.Content("~/Scripts/js/tabpage.js")"></script>
    <script src="@Url.Content("~/Scripts/js/auth.js")" defer></script>
</body>
</html>