<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeron | History Booking</title>
    <link rel = "stylesheet" href = "@Url.Content("~/Content/assets/css/style.css")">
    <link rel = "stylesheet" href = "@Url.Content("~/Content/assets/css/historyBooking.css")">
</head>
<body>
    <div class="container">
        <!--NAVBAR -->
        <nav class="navbar">
            <div class="navbar__logo">
                <img src="@Url.Content("~/Content/assets/images/logo.png")" alt="logo" class="navbar__logo-item">
                <span class = "navbar__logo-name">Zeron</span>
            </div>
            <ul class="navbar__content">
                <li><a href = "../FE/home.html" class="navbar__content-item1">TRANG CHỦ</a></li>
                <li><a href = "../FE/bookingTicket.html" class="navbar__content-item1">ĐẶT VÉ</a></li>
            </ul>
        </nav>
        <!--END NAVBAR -->


        <!-- History Container -->
         <div class="history-container">
            <div class="history-container__header">
                <h1>Lịch sử đặt vé</h1>
            </div>

            <div class="history-container__content">
                <button>Phim đã chiếu</button>
                <button>Phim đang chiếu</button>
            </div>
            <div class="ticket-grid">
                <!-- Card 1 -->
                <div class="ticket-card">
                    <div class="ticket-poster">
                        <img src="@Url.Content("~/Content/assets/images/poster/movie1.jpg")" alt="Avengers: Endgame">
                    </div>
                    <div class="ticket-info">
                        <div class="ticket-header">
                            <span class="ticket-title">Avengers: Endgame</span>
                        </div>
                        <div class="ticket-detail">
                            <div><i class="fa-solid fa-calendar-check"></i> Ngày đặt vé: 10/07/2024</div>
                            <div><i class="fa-solid fa-calendar-days"></i> Suất chiếu: 12/07/2024 - 19:30</div>
                            <div><i class="fa-solid fa-film"></i> Rạp: Zeron Cinema - Đà Nẵng</div>
                            <div><i class="fa-solid fa-money-bill-wave"></i> Giá: 200.000 VNĐ</div>
                        </div>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="ticket-card">
                    <div class="ticket-poster">
                        <img src="@Url.Content("~/Content/assets/images/poster/movie1.jpg")" alt="The Ring">
                    </div>
                    <div class="ticket-info">
                        <div class="ticket-header">
                            <span class="ticket-title">The Ring</span>
                        </div>
                        <div class="ticket-detail">
                            <div><i class="fa-solid fa-calendar-check"></i> Ngày đặt vé: 15/07/2024</div>
                            <div><i class="fa-solid fa-calendar-days"></i> Suất chiếu: 20/07/2024 - 21:00</div>
                            <div><i class="fa-solid fa-film"></i> Rạp: Zeron Cinema - Đà Nẵng</div>
                            <div><i class="fa-solid fa-money-bill-wave"></i> Giá: 80.000 VNĐ</div>
                        </div>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="ticket-card">
                    <div class="ticket-poster">
                        <img src="@Url.Content("~/Content/assets/images/poster/movie1.jpg")" alt="Inception">
                    </div>
                    <div class="ticket-info">
                        <div class="ticket-header">
                            <span class="ticket-title">Inception</span>
                        </div>
                        <div class="ticket-detail">
                            <div><i class="fa-solid fa-calendar-check"></i> Ngày đặt vé: 01/08/2024</div>
                            <div><i class="fa-solid fa-calendar-days"></i> Suất chiếu: 05/08/2024 - 20:00</div>
                            <div><i class="fa-solid fa-film"></i> Rạp: Zeron Cinema - Đà Nẵng</div>
                            <div><i class="fa-solid fa-money-bill-wave"></i> Giá: 160.000 VNĐ</div>
                        </div>
                    </div>
                </div>
                <!-- Card 4 -->
                <div class="ticket-card">
                    <div class="ticket-poster">
                        <img src="@Url.Content("~/Content/assets/images/poster/movie1.jpg")" alt="Romeo and Juliet">
                    </div>
                    <div class="ticket-info">
                        <div class="ticket-header">
                            <span class="ticket-title">Romeo and Juliet</span>
                        </div>
                        <div class="ticket-detail">
                            <div><i class="fa-solid fa-calendar-check"></i> Ngày đặt vé: 10/08/2024</div>
                            <div><i class="fa-solid fa-calendar-days"></i> Suất chiếu: 15/08/2024 - 18:00</div>
                            <div><i class="fa-solid fa-film"></i> Rạp: Zeron Cinema - Đà Nẵng</div>
                            <div><i class="fa-solid fa-money-bill-wave"></i> Giá: 70.000 VNĐ</div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    <footer>
        <div class = "container__footer">
            <h3>Ký ức đẹp bắt đầu từ một bộ phim hay!</h3>
        </div>
        <div class="footercontent">
            <div class="navbar__logo navbar__logo2">
                <img src="@Url.Content("~/Content/assets/images/logo.png")" alt="logo" class="navbar__logo-item">
                <span class = "navbar__logo-name">Zeron</span>
            </div>
            <ul class="footercontent__ContactInf">
                <li><p class = "footercontent__header">Hỗ Trợ</p></li>
                <li>
                    <div class="footercontent__ContactInf-list">
                        <i class="fa-solid fa-phone"></i>
                        <p>0948 203 816</p>
                    </div>
                </li>
                <li>
                    <div class="footercontent__ContactInf-list">
                        <i class="fa-solid fa-envelope"></i>
                        <p>zeron_cinema@gmail.com</p>
                    </div>
                </li>
                <li>
                    <div class="footercontent__ContactInf-list">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Số 16 Nguyễn Lương Bằng, Hòa Khánh Bắc, Đà Nẵng</p>
                    </div>
                </li>
            </ul>
            <ul class="footercontent__QuickLink">
                <li><p class = "footercontent__header">Liên Kết Nhanh</p></li>
                <li><a class = "footercontent__QuickLink-list" href ="##">Trang Chủ</a></li>
                <li><a class = "footercontent__QuickLink-list" href ="##">Đặt Vé</a></li>
                <li><a class = "footercontent__QuickLink-list" href ="##">Thể Loại</a></li>
            </ul>
            <ul class="footercontent__SocialMedia">
                <p class = "footercontent__header">Mạng Xã Hội</p></li>
                <div class = "footercontent__SocialMedia-list">
                    <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a>
                    <a href="https://zalo.me" target="_blank"><i class="fa-solid fa-comment-dots fa-2x"></i></a>
                </div>
            </ul>
            <div><p class = "line"></p></div>
        </div>
     </footer>
</body>
<script src = "@Url.Content("~/Scripts/js/auth.js")" defer></script>
</html>